

<div id="app" *ngIf="camera">
  <div><video #video id="video" width="400px" height="480px" autoplay (click)="capture()"></video></div>
  <div><button id="snap" (click)="capture()">Snap Photo</button></div>
  <canvas #canvas id="canvas" width="400px" height="480px"></canvas>
  <!-- <ul>
      <li *ngFor="let c of captures">
          <img src="{{ c }}" height="50" />
      </li>
  </ul> -->
</div>

<div *ngIf="!camera">
  <div *ngFor="let c of captures">
    <img src="{{ c }}" width="360px" height="480px" />
  </div>
</div>